@tailwind base;
@tailwind components;
@tailwind utilities;
@import "https://fonts.cdnfonts.com/css/futura-pt";

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    scroll-behavior: smooth;
}

html.dark {
    #nprogress .bar {
        background: white !important;
    }
}
html.light {
    #nprogress .bar {
        background: black !important;
    }
}

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

html {
    direction: ltr;
}

html[lang="ar"] {
    direction: rtl;
}

main.grid.cards {
    grid-template-columns: repeat(auto-fill, minmax(14em, 1fr));
}

.font-futura {
    font-family: "Futura PT", sans-serif !important;
}

.cards .card {
    animation: Pop 1s all;
}

@keyframes Pop {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}
.shadow-textVisible {
    box-shadow: 0px -71px 50px 6px rgba(0, 0, 0, 0.5) inset;
}

.shadow-poster {
    box-shadow: 0px -157px 120px 10px rgba(0, 0, 0, 1) inset;
}

.shadow-actionsFooter {
    box-shadow: 0px -71px 50px 6px rgba(0, 0, 0, 0.5) inset;
}

@media not all and (min-width: 768px) {
    .drop .servers {
        height: 0px;
        animation: Anime 0.7s linear forwards;
    }
}

@keyframes Anime {
    1% {
        height: 0px;
    }
    100% {
        height: fit-content;
    }
}

aside {
    transition: 0.4s cubic-bezier(0.4, 0, 0, 1);
}
aside#show {
    transform: translateX(0%);
    opacity: 1;
}
